@mixin coloredInterFont($font-weight, $font-size, $color: #000000) {
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}

.mainMenu {
  width: 17%;

  background-color: #1a1919;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  button {
    margin-bottom: 56px;
    @include coloredInterFont(500, 1.25rem, #ffffff);
    padding: 12px 46px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    border: none;
    img {
      position: relative;
      top: 4px;
      margin-right: 14px;
    }
  }

  .nav_wrapper {
    .menuLogo {
      color: #ffffff;
    }

    .menuList {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}
